src/Website/Service References/CommandService/MyNotesCommandService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39531/MyNotesCommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Commands" />
  <xs:element name="CreateNewNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q1:CreateNewNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeNoteText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q2:ChangeNoteText" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeNoteTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewBrief">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q3:CreateBrief" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewBriefResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBrief">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q4:ChangeBrief" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBriefResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBriefAllocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q5:CreateBriefAllocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBriefAllocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBriefAllocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q6:EditBriefAllocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBriefAllocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q7:CreatePlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q8:EditPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRegionInPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q9:CreateRegionInPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRegionInPlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrChangeCitiesInPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q10:CreateOrChangeCitiesInPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrChangeCitiesInPlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrChangeSitesInPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q11:CreateOrChangeSitesInPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrChangeSitesInPlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSiteDisplayInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q12:ChangeDisplayInfoForSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSiteDisplayInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSiteMountingInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q13:ChangeMountingInfoForSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSiteMountingInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignVendorToSitesInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q14:AssignVendorsToSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignVendorToSitesInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhotoToSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q15:AddPhotosToSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhotoToSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrEditPhotoToSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q16:AddOrEditPhotosToSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrEditPhotoToSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>