src/Website/Service References/CommandService/MyNotesCommandService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MyNotesCommandService/MyNotesCommandService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/MyNotesCommandService/MyNotesCommandService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CommonDTOs" />
  <xs:complexType name="ArrayOfKeyValueOfguidPlanRegionsDTOdv0GhODu">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfguidPlanRegionsDTOdv0GhODu">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:guid" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonDTOs" name="Value" nillable="true" type="q1:PlanRegionsDTO" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfguidPlanRegionsDTOdv0GhODu" nillable="true" type="tns:ArrayOfKeyValueOfguidPlanRegionsDTOdv0GhODu" />
  <xs:complexType name="ArrayOfKeyValueOfguidPlanCityDTOdv0GhODu">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfguidPlanCityDTOdv0GhODu">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:guid" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonDTOs" name="Value" nillable="true" type="q2:PlanCityDTO" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfguidPlanCityDTOdv0GhODu" nillable="true" type="tns:ArrayOfKeyValueOfguidPlanCityDTOdv0GhODu" />
  <xs:complexType name="ArrayOfKeyValueOfguidPlanSiteDTOdv0GhODu">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfguidPlanSiteDTOdv0GhODu">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:guid" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonDTOs" name="Value" nillable="true" type="q3:PlanSiteDTO" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfguidPlanSiteDTOdv0GhODu" nillable="true" type="tns:ArrayOfKeyValueOfguidPlanSiteDTOdv0GhODu" />
  <xs:complexType name="ArrayOfKeyValueOfguidPlanSiteDisplayInfoDTOdv0GhODu">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfguidPlanSiteDisplayInfoDTOdv0GhODu">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:guid" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommonDTOs" name="Value" nillable="true" type="q4:PlanSiteDisplayInfoDTO" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfguidPlanSiteDisplayInfoDTOdv0GhODu" nillable="true" type="tns:ArrayOfKeyValueOfguidPlanSiteDisplayInfoDTOdv0GhODu" />
  <xs:complexType name="ArrayOfKeyValueOfguidPlanSiteMountingInfoDTOdv0GhODu">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfguidPlanSiteMountingInfoDTOdv0GhODu">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:guid" />
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommonDTOs" name="Value" nillable="true" type="q5:PlanSiteMountingInfoDTO" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfguidPlanSiteMountingInfoDTOdv0GhODu" nillable="true" type="tns:ArrayOfKeyValueOfguidPlanSiteMountingInfoDTOdv0GhODu" />
</xs:schema>